body{
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #87CEEB, #D1E8FF, white);
}
h2, h3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500 !important;
    }

    p{
        font-family: 'Open Sans', sans-serif;}
        button, a{
            font-family: 'Wix Madefor Text', sans-serif;
            outline: none !important;
        }
.nav-section {
    background: transparent;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    // background: linear-gradient(to right, white 60%, #f5f5f5 40%);
  }
  .navbar {
    width: 90%;
    margin: auto;
    background: transparent !important;
    align-items: center !important;
    .navbar-toggler{
      border: 0 !important;
      outline: 0 !important;
      display: flex;
  
   
    }
    #cancel-bar{
      position: absolute;
      margin-top: -1000px ;
      transition: 0.3s !important;
    }
    &-brand {
      color: black;
      font-weight: 600;
     
  
      span {
        color: rgb(31, 31, 247);
        font-weight: 700;
      }
    }
    li{
        a{
          &:hover{
              color: grey !important;
          }
    }
    }
    &-nav {
        margin-left: 70px;
        align-items: center;
      gap: 70px;
      li {
        font-weight: 500;
        
        a {
          color: black !important;
        }
      }
    }
    form{
      display: flex;
      outline: 0 !important;
      input{
          align-items: center;
          border-radius: 10px;
          border: 0 !important;
          outline: 0 !important;
      }
      button{
          border-radius: 10px;
          border: 1px solid rgb(56, 160, 91);
          outline: 0 !important;
          &:hover{
              outline: none !important;
              color: rgb(56, 160, 91);
              background-color: rgb(188, 235, 188);
              border: 1px solid rgb(188, 235, 188);
          }
  
      }
    }
  }
.banner{
    display: flex;
    padding-top: 70px;
    height: auto;
    width: 80%;
    margin: auto !important;
    &-left{
        width: 50%;
        display: flex;
        flex-direction: column;
        &-intro{
            h2{
                font-size: 50px;
                span{
                    color:rgb(102, 1, 102);
                }
            }
        }
  
        &-buttons{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            .get{
                border: 0;
                background-color: rgb(102, 1, 102);
                color: white;
                padding: 10px 15px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                span{
                    margin-left: 10px;
                   
                }
            }
            .more{
                border: 0;
                background-color:  rgb(13, 142, 247);
                padding: 10px 15px;
                border-radius: 10px;
                color: white;
            }
        }
        &-rates{
            display: flex;
            gap: 30px;
            margin-top: 40px;
            .rate{
                align-items: center;
                justify-content: center;
                text-align: left;
            }
        }
    }
    &-right{
background-image: url(/Images/money-transfer-icon-40383.png);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        &-image{
            display: none;
        }
        .container{
            padding: 10px;
            width: 300px;
            height: auto;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
              background: white;
              &-button{
                display: flex;
                justify-content: center;
              }
            &-field{
                margin: auto;
               align-items: left;
                display: flex;
                flex-direction: column;
                gap: 20px;
                input{
                    background-color: rgb(194, 214, 231);
                    border: 0;
                    border-radius: 10px;
                    padding: 10px;
                }
                &-selects{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    select{
                        padding: 5px;
                    }
                    .from, .to{
                        display: flex;
                        flex-direction: column;
                    }
                }
                &-button{
                    display: flex;
                 
                    button{
                        width: 100%;
                        color: white;
                        border: 0;
                        background-color:rgb(102, 1, 102);
                        padding: 5px 15px;
                        border-radius: 10px;

                    }
                }
            }
        }
        &-buttons, &-rates{
            display: none;
        }
        }
}
.bottom{
    height: auto;
    margin-top: 30px;
    background-color:  rgb(13, 142, 247);
    .footer{
        padding: 20px 0;
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        .brand{
            display: flex;
            flex-direction: column;
            color: black;
        }
        .links{
      ul{
        display: flex;
        li{
            list-style: none;
            a{
                color: black;
            }
        }
      }
        }
    }
}
@media screen and (min-width: 300px) and (max-width: 700px){
    .banner{
        display: flex;
        flex-direction: column;
        &-left{
            width: 100%;
            display: flex;
            flex-direction: column;
            &-intro{
                h2{
                    font-size: 35px;
                }
            }
            &-buttons{
      display: none;
            }
            &-rates{
               display: none;
            }
        }
        &-right{
            background: none;
            width: 100%;
            margin-left: 0;
            justify-content: center;
            &-rates{
                display: none !important;
            }
            &-image{
                display: block;
                width: 90%;
                margin: auto;
                height: 400px;
                img{
                    object-fit: contain;
                    display: block;
                    height: 100%;
                    width: 100%;
                 }
            }
            .container{
                margin: auto;
                padding: 10px;
                height: auto;
            }
            &-buttons{
                width: 100%;
                margin-top: 20px;
                display: flex;
                justify-content: start;
                gap: 20px;
               
                .get{
                    border: 0;
                    background-color:rgb(102, 1, 102);
                    color: white;
                    padding: 5px 10px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    span{
                        margin-left: 10px;
                       
                    }
                }
                .more{
                    border: 0;
                    background: rgb(194, 214, 231);
                    padding: 10px 15px;
                    border-radius: 10px;
                }
            }
            &-rates{
                display: flex;
                gap: 30px;
                margin-top: 40px;
                .rate{
                    align-items: center;
                    justify-content: center;
                    text-align: left;
                }
            }
            }
    }
    .bottom{
        .footer{
            align-items: center;
            .links{
          ul{
            flex-direction: column;
            line-height: 10px !important;
            li{
                list-style: none;
                a{
                    color: black;
                }
            }
          }
            }
        }
    }
}
