body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #87CEEB, #D1E8FF, white);
}

h2, h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500 !important;
}

p {
  font-family: "Open Sans", sans-serif;
}

button, a {
  font-family: "Wix Madefor Text", sans-serif;
  outline: none !important;
}

.nav-section {
  background: transparent;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
  width: 90%;
  margin: auto;
  background: transparent !important;
  align-items: center !important;
}
.navbar .navbar-toggler {
  border: 0 !important;
  outline: 0 !important;
  display: flex;
}
.navbar #cancel-bar {
  position: absolute;
  margin-top: -1000px;
  transition: 0.3s !important;
}
.navbar-brand {
  color: black;
  font-weight: 600;
}
.navbar-brand span {
  color: rgb(31, 31, 247);
  font-weight: 700;
}
.navbar li a:hover {
  color: grey !important;
}
.navbar-nav {
  margin-left: 70px;
  align-items: center;
  gap: 70px;
}
.navbar-nav li {
  font-weight: 500;
}
.navbar-nav li a {
  color: black !important;
}
.navbar form {
  display: flex;
  outline: 0 !important;
}
.navbar form input {
  align-items: center;
  border-radius: 10px;
  border: 0 !important;
  outline: 0 !important;
}
.navbar form button {
  border-radius: 10px;
  border: 1px solid rgb(56, 160, 91);
  outline: 0 !important;
}
.navbar form button:hover {
  outline: none !important;
  color: rgb(56, 160, 91);
  background-color: rgb(188, 235, 188);
  border: 1px solid rgb(188, 235, 188);
}

.banner {
  display: flex;
  padding-top: 70px;
  height: auto;
  width: 80%;
  margin: auto !important;
}
.banner-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.banner-left-intro h2 {
  font-size: 50px;
}
.banner-left-intro h2 span {
  color: rgb(102, 1, 102);
}
.banner-left-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.banner-left-buttons .get {
  border: 0;
  background-color: rgb(102, 1, 102);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.banner-left-buttons .get span {
  margin-left: 10px;
}
.banner-left-buttons .more {
  border: 0;
  background-color: rgb(13, 142, 247);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
}
.banner-left-rates {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}
.banner-left-rates .rate {
  align-items: center;
  justify-content: center;
  text-align: left;
}
.banner-right {
  background-image: url(/Images/money-transfer-icon-40383.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.banner-right-image {
  display: none;
}
.banner-right .container {
  padding: 10px;
  width: 300px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: white;
}
.banner-right .container-button {
  display: flex;
  justify-content: center;
}
.banner-right .container-field {
  margin: auto;
  align-items: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner-right .container-field input {
  background-color: rgb(194, 214, 231);
  border: 0;
  border-radius: 10px;
  padding: 10px;
}
.banner-right .container-field-selects {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-right .container-field-selects select {
  padding: 5px;
}
.banner-right .container-field-selects .from, .banner-right .container-field-selects .to {
  display: flex;
  flex-direction: column;
}
.banner-right .container-field-button {
  display: flex;
}
.banner-right .container-field-button button {
  width: 100%;
  color: white;
  border: 0;
  background-color: rgb(102, 1, 102);
  padding: 5px 15px;
  border-radius: 10px;
}
.banner-right-buttons, .banner-right-rates {
  display: none;
}

.bottom {
  height: auto;
  margin-top: 30px;
  background-color: rgb(13, 142, 247);
}
.bottom .footer {
  padding: 20px 0;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.bottom .footer .brand {
  display: flex;
  flex-direction: column;
  color: black;
}
.bottom .footer .links ul {
  display: flex;
}
.bottom .footer .links ul li {
  list-style: none;
}
.bottom .footer .links ul li a {
  color: black;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner-left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .banner-left-intro h2 {
    font-size: 35px;
  }
  .banner-left-buttons {
    display: none;
  }
  .banner-left-rates {
    display: none;
  }
  .banner-right {
    background: none;
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }
  .banner-right-rates {
    display: none !important;
  }
  .banner-right-image {
    display: block;
    width: 90%;
    margin: auto;
    height: 400px;
  }
  .banner-right-image img {
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
    height: 100%;
    width: 100%;
  }
  .banner-right .container {
    margin: auto;
    padding: 10px;
    height: auto;
  }
  .banner-right-buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: start;
    gap: 20px;
  }
  .banner-right-buttons .get {
    border: 0;
    background-color: rgb(102, 1, 102);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .banner-right-buttons .get span {
    margin-left: 10px;
  }
  .banner-right-buttons .more {
    border: 0;
    background: rgb(194, 214, 231);
    padding: 10px 15px;
    border-radius: 10px;
  }
  .banner-right-rates {
    display: flex;
    gap: 30px;
    margin-top: 40px;
  }
  .banner-right-rates .rate {
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .bottom .footer {
    align-items: center;
  }
  .bottom .footer .links ul {
    flex-direction: column;
    line-height: 10px !important;
  }
  .bottom .footer .links ul li {
    list-style: none;
  }
  .bottom .footer .links ul li a {
    color: black;
  }
}/*# sourceMappingURL=style.css.map */